[submodule "arabert"]
	path = arabert
	url = https://github.com/aub-mind/arabert.git
[submodule "vilbert-multi-task"]
	path = vilbert-multi-task
	url = https://github.com/facebookresearch/vilbert-multi-task.git
